<!DOCTYPE html>
<html lang="en">
<head>
    <title>DCS МиГ-21бис пулть управления</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/scripts/lib/bootstrap4/css/bootstrap.css">
    <link rel="stylesheet" href="/scripts/GhostStyles.css">
</head>
<body>
<div class="container">
    <div class="row margin-top-sm">
        <div class="col-sm-6">
            <div class="card card-block">
                <h4 class="card-title">Полет</h4>
				<div class="input-group margin-top-xs">
                    <span class="input-group-addon form-control">САУ</span>
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-fixed-xl" type="button" data-cmd="SAU_STABILIZE">Стабилизация</button>
                        <button class="btn btn-info btn-fixed-xl" type="button" data-cmd="SAU_HOLD_ATTITUDE">Держать угол</button>
                    </span>
                </div>
				
				<div class="input-group margin-top-xs">
                    <span class="input-group-addon form-control">Приведение</span>
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-fixed-xl" type="button" data-cmd="SAU_RECOVERY">Горизонт</button>
                        <button class="btn btn-info btn-fixed-xl" type="button" data-cmd="SAU_LOW_ALTITUDE_RECOVERY_ONOFF">Малая высота</button>
                    </span>
                </div>
				
				<button class="btn btn-danger margin-top-xs form-control" type="button" data-cmd="SAU_CANCEL_CURRENT_MODE">
                    Отключение автопилота
                </button>

                <div class="input-group margin-top-xs">
                    <span class="input-group-addon form-control">Посадка</span>
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-fixed-xl" type="button" data-cmd="SAU_LANDING_AUTO">Автоматическая</button>
						<button class="btn btn-warning btn-fixed-xl" type="button" data-cmd="SAU_LANDING_COMMAND">Директорная</button>
                    </span>
                </div>
				
				<button class="btn btn-danger margin-top-xs form-control" type="button" data-cmd="SAU_LANDING_CANCEL">
                    Отказать посадку
                </button>

            </div>
        </div>
		
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-block">
                        <h4 class="card-title margin-top-xs">Шасси</h4>
                        <div class="input-group margin-top-xs">
                            <span class="input-group-addon form-control">Замок</span>
							<span class="input-group-btn">
								<button class="btn btn-warning btn-fixed-xl" type="button" data-cmd="GEARS_HANDLE_LOCK_RELEASED">Открыт</button>
								<button class="btn btn-success btn-fixed-xl" type="button" data-cmd="GEARS_HANDLE_LOCK_ENGAGED">Закрыт</button>
							</span>
                        </div>
                        <div class="input-group margin-top-xs">
                            <span class="input-group-addon form-control">Кран</span>
							<span class="input-group-btn">
								<button class="btn btn-warning btn-fixed-lg" type="button" data-cmd="GEARS_UP">Уворка</button>
								<button class="btn btn-success btn-fixed-lg" type="button" data-cmd="GEARS_NEUTRAL">Нейтраль</button>
								<button class="btn btn-info btn-fixed-lg" type="button" data-cmd="GEARS_DOWN">Выпуск</button>
							</span>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/scripts/lib/jquery-2.2.4.js"></script>
<script src="/scripts/lib/tether/js/tether.js"></script>
<script src="/scripts/lib/bootstrap4/js/bootstrap.js"></script>

<script src="/scripts/LayoutIntegration.js"></script>

</body>
</html>
<!--

UHF/VHF controls

Trim reset !!! (in red)
Arm ground safety override switch

MFD brightness increase/decrease

Steer Point & Page knob

UFC (up front controller)
CDU
TACAN knob
ILS knobs

Engine Instrument knob
etc..

Possibility to extract MFD ADI HSI Climb Altimeter AirSpeed

-->