.margin-top-xs {
    margin-top: 0.5em;
}

.margin-top-sm {
    margin-top: 1.0em;
}

.margin-top-md {
    margin-top: 1.5em;
}

.margin-top-lg {
    margin-top: 2.0em;
}

.margin-top-xl {
    margin-top: 2.5em;
}