<link rel="stylesheet" href="/scripts/lib/bootstrap4/css/bootstrap.css"/>
<script src="/scripts/lib/jquery-2.2.4.js"></script>
<script src="/scripts/lib/jquery.kontrol.js"></script>
<script src="/scripts/lib/tether/js/tether.js"></script>
<script src="/scripts/lib/bootstrap4/js/bootstrap.js"></script>

<script src="/scripts/LayoutIntegration.js"></script>

<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
    </label>
</div>


<input type="text" value="0" class="dial"/>
<input class="dial" data-display-margin-top="20px" data-width="180" data-height="180" data-angleOffset="50" data-angleArc="260" value="0"/>


<!--

Landing gear

Emergency jettison
Jammer On/OFF
Night vision
Night vision increase/decrease brightness

UHF/VHF controls

Trim reset !!! (in red)
Arm ground safety override switch

RWR Separate button

Seat up/down

Fire extinguishers

MFD brightness increase/decrease

Steer Point & Page knob

UFC (up front controller)
CDU
TACAN knob
ILS knobs

Position Flash switch
Formation light knob
Anti-Collision switch

Engine Instrument knob
etc..

Possibility to extract MFD ADI HSI Climb Altimeter AirSpeed

-->