<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/scripts/lib/bootstrap4/css/bootstrap.css">
    <link rel="stylesheet" href="/scripts/GhostStyles.css">
</head>
<body>

<div class="container">
    <div class="row margin-top-md">
        <div class="col-xl-4">
            x
        </div>
        <div class="col-xl-4">
            <div class="input-group">
                <span class="input-group-addon">Landing Gear</span>
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button">Up</button>
                    <button class="btn btn-warning" type="button">Down</button>
                </span>
            </div>
        </div>
        <div class="col-xl-4">
            x
        </div>
    </div>
    <div class="row margin-top-md">
        <div class="col-xl-4">
            <input type="text" value="0" class="dial"/>
        </div>
        <div class="col-xl-4">
            <input class="dial" data-display-margin-top="20px" data-width="180" data-height="180" data-angleOffset="50" data-angleArc="260" value="0"/>
        </div>
        <div class="col-xl-4">
            <input type="text" value="0" class="dial"/>
        </div>
    </div>
</div>

<br/><br/>


<script src="/scripts/lib/jquery-2.2.4.js"></script>
<script src="/scripts/lib/jquery.kontrol.js"></script>
<script src="/scripts/lib/tether/js/tether.js"></script>
<script src="/scripts/lib/bootstrap4/js/bootstrap.js"></script>

<script src="/scripts/LayoutIntegration.js"></script>

</body>
</html>
<!--

Landing gear

Emergency jettison
Jammer On/OFF
Night vision
Night vision increase/decrease brightness

UHF/VHF controls

Trim reset !!! (in red)
Arm ground safety override switch

RWR Separate button

Seat up/down

Fire extinguishers

MFD brightness increase/decrease

Steer Point & Page knob

UFC (up front controller)
CDU
TACAN knob
ILS knobs

Position Flash switch
Formation light knob
Anti-Collision switch

Engine Instrument knob
etc..

Possibility to extract MFD ADI HSI Climb Altimeter AirSpeed

-->